<html>

<head>
  <meta name='viewport' content='width = device-width'>
  <title>
    Learning
  </title>
</head>

<body>
  <%- include('./partials/navbar.ejs')%>
  <div class='about content'>
    <h2>Page not found</h2>
  </div>
</body>

</html>