<html>

<head>
  <meta name='viewport' content='width = device-width'>
  <title>
    Learning
  </title>
</head>

<body>
  <%- include('./partials/navbar.ejs')%>
  <div class='about content'>
    <h2>About Us</h2>
    <p>Hello there, how are you?Hello there, how are you?Hello there, how are you?Hello there, how are you?Hello there, how
      are you?Hello there, how are you?Hello there, how are you?</p>
  </div>
</body>

</html>